




.img-table
          {
            display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;
                  width: 90%;
                  margin-left: 5%; 
              
              position: relative;
              width: 30%;
              height: auto;
              box-sizing: content-box;
              padding: 20px;
              margin: 0px 25px 20px 0px;
              display: block;
              margin-left: auto;
              margin-right: auto;
              bottom: 10px;
              
          }
          
     
          .underline-small{
              color: black;

              position: relative;
              }
          .underline-small::after{
              content: '';
              height: 2px;
              width: 10%;
              position: absolute;
              background: #05173E;
              left;20%;
              bottom;0;
          }
          hr{
             display: block;
             margin-top: 0.5em;
             margin-bottom: 0.5em;
             margin-left: auto;
             margin-right: auto;
             border-style: solid;
             border-width: 1px;
             width: 30%;
             box-sizing: content-box;
             height: 0;
             overflow: visible;
          }
  
           #wrap {
               min-height: 0%;
          }
           #main {
               overflow:auto;
	           padding-bottom: 100px;
          }  /* must be same height as the footer */


          } 
          /*Opera Fix*/
          body:before {
	           content:"";
	           height:100%;
	           float:center;
	           width:0;
	           margin-top:-32767px;/
          }
          <type="text/css">
		  #wrap {
              display:table;height:100%
          }
          .bodytext{
              margin-right: 15%;
              margin-left: 15%;
          }

          .card-title{
              text-align: center;
          }

          .card{
              box-shadow: 10px 10px 10px rgba(0, 0, 0, 50%);
         }
          .card-img-top{
         }
          .card-text{
                text-align: justify; 

         }
.card-positioning{
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;
                  width: 90%;
                  margin-left: 5%;
}

.margin{
    margin: 20px;
}
        h2{
              text-align: justify; 
              margin: 15px;
     }
.marginright{
    margin-right: 24px;
           
           }
 
          .accordion.width{ 
             
            width: 60%; 
        } 
.card-body { 
            display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: center;
                  width: 90%;
                  margin-left: 5%; 
        } 
