/*-------- custom scrollbar ------ */
:: -webkit-scrollbar{
    width: 15px;
}
:: -webkit-scrollbar-track{
    background: #d1e5ff;
}
:: -webkit-scrollbar-thumb{
    background: linear-gradient(90deg, rgba(9,56,121,1) 45%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: baseline;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder{
    color: #cac7ff;
}

.search-bar button img{
    width: 25px;   
}

.search-bar button img{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}
